img {
  width: 500px;
}

.intro {
  float: left;
  background-color: pink;
  padding: 10px;
}

h2.center {
  text-align: center;
}

.lecture {
  text-align: center;
}

.highlighted {
  background-color: lightblue;
  border: 1px solid green;
}
